includes:
    - vendor/larastan/larastan/extension.neon

parameters:

    paths:
        - app/

    tmpDir: storage/phpstan

    # Level 9 is the highest level
    level: 8

    ignoreErrors:
        - message: "#^Method (.*?) return type with generic class Illuminate\\\\Database\\\\Eloquent\\\\Casts\\\\Attribute does not specify its types\\: TGet, TSet$#"
